html {
	background-color:#FFFAFA;
	font-family:sans-serif;
	color:#5d627b;
}
.midasi {
	background-color:#DCDCDC;
	color:#5d627b;
	font-size:64px;
	border-left:10px solid #5d627b;
	border-right:10px solid #5d627b;
}
.setumei {
  border-bottom:7px solid #5d627b;
	border-radius:10px;
	border-left:20px solid #5d627b;
	border-radius:10px;
	color:#5d627b;
}
.setumei1 {
	border-left:10px dashed #5d627b;
	background-color:gainsboro;
}
.jicoshokai {
  border-bottom:7px solid #5d627b;
	border-radius:10px;
	border-left:20px solid #5d627b;
	border-radius:10px;
	color:#5d627b;
}
.jicoshokai1 {
	border-left:10px dashed #5d627b;
	background-color:gainsboro;
}
